<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/8.5/phpunit.xsd"
         colors="true"
         bootstrap="tests/Application/config/bootstrap.php">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage" processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/DependencyInjection</directory>
            <directory>src/BitBagSyliusAgreementPlugin.php</directory>
        </exclude>
        <report>
            <clover outputFile="coverage.xml" />
        </report>
    </coverage>

    <php>
        <ini name="error_reporting" value="-1" />

        <server name="KERNEL_CLASS_PATH" value="/tests/Application/Kernel.php" />
        <server name="IS_DOCTRINE_ORM_SUPPORTED" value="true" />

        <env name="APP_ENV" value="test"/>
        <env name="SHELL_VERBOSITY" value="-1" />
    </php>
</phpunit>
